body {
    font-family: "Quicksand", sans-serif;
}

#instruction {
    line-height: 3;
}
.scroll {
    height: 450px;

    overflow-y: scroll;
    overflow-x: hidden;
}
.banner {
    background: url("https://fedium.com/assets/img/post/best_0.jpg");
    height: 400px;
    padding-top: 150px;
}
